= simple_form_for(@organism, html: { :class => 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit
