%h1 Listing organisms

%table.table.table-striped
  %thead
    %th Name
    %th Description
    %th
    %th
    %th
  %tbody
    - @organisms.each do |organism|
      %tr
        %td= link_to organism.name, edit_organism_path(organism)
        %td= organism.description
        %td= link_to 'Destroy', organism, :method => :delete, :data => { :confirm => 'Are you sure?'} , class: 'btn btn-xs btn-danger'

%br

= link_to 'New Organism', new_organism_path, class: 'btn btn-sm, btn-success'
