-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= simple_form_for @workingplate, :html => { :class => 'well form-horizontal' } do |f|
  .form-inputs
    = f.input :label, input_html: { value: "#{@masterplate.label}-A and -B" }, disabled: true
    = f.input :description
    = f.input :mp_id, as: :hidden, input_html: { value: @masterplate.id }
  .form-actions
    = f.button :submit, class: 'btn btn-sm btn-success'
