%h1 Workingplates

%div.filter
  .btn-group{:role => "group"}
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "My Workingplates", :action => "index", :me => "true"
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "All Workingplates", :action => "index"
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "Currently Processing", :action => "index", :status => "processing"
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "Imported", :action => "index", :status => "imported"
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "Unprocessed", :action => "index", :status => "unprocessed"

-if @workingplates.present?

  %table.table.table-striped
    %thead
      %tr
        %th Label
        %th Created at
        %th Owner
        %th Actions
    %tbody
      - @workingplates.each do |workingplate|
        %tr
          %td= link_to workingplate.label, workingplate_path(workingplate)
          %td= workingplate.created_at.strftime("%Y-%m-%d")
          %td= workingplate.user_name
          %td
            -if current_user && workingplate.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_workingplate_path(workingplate), :class => 'btn btn-sm'
              = link_to 'Destroy', workingplate_path(workingplate), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm btn-danger'
              - if workingplate.imported
                %button.btn.btn-sm.btn-diabled
                  imported
              - elsif workingplate.processing
                = link_to 'Processing', '/sidekiq', :class => 'btn btn-sm btn-warning'
              -else
                = link_to 'Process Images', omeroimport_workingplate_path(workingplate), :class => 'btn btn-success btn-sm'

            -else
              <span class="red">not your plate</span>
  = will_paginate(@workingplates, renderer: BootstrapPagination::Rails)

-else
  %div.no_record
    %p
      There are currently no workingplates present that match your criteria. Use the "Workingplate" link next to one of your
      =link_to 'masterplates', masterplates_path
      to generate some.
