= simple_form_for(@screen, html: {class: 'form-horizontal' }) do |f|

  =f.input :name
  =f.input :description
  =f.input :organism_id, collection: Organism.all, as: :radio_buttons
  =f.input :substances, input_html: {value: @screen.substances || AppConfig.substances}

  =f.button :submit, class: 'btn btn-sm btn-success'
