= simple_form_for @masterplate, html: { :class => 'form-horizontal' } do |f|

  .form-inputs
    = f.input :label, required: true
    = f.input :screen_id, collection: current_user.screens, required: true
    -if action_name == 'new'
      = f.input :masterplate_annotation_file, as: :file, required: true
    = f.input :description

  .form-actions
    = f.button :submit, class: 'btn btn-sm btn-success'
