- content_for :sidebar_title do
  Masterplates
- content_for :sidebar do
  %p
  %ul
    %li use the "New" button to create a new set of masterplates:
    %ul
      %li each masterplate belongs to a screen
      %li click on the name of a masterplate to see the plate layout
      %li click on the green "generate Workingplates" or "generate more Workingplates" button to create a set of working plates.

%h1 Masterplates

-if current_user.screens.count > 0
  = link_to 'New', new_masterplate_path, :class => 'btn btn-sm btn-success pull-right'
-else
  = link_to 'New', '#', :class => 'btn btn-sm btn-disabled pull-right', :disable => true

%div.filter
  .btn-group{:role => "group"}
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "My Masterplates", :action => "index", :me => "true"
    %button.btn.btn-sm.btn-default{:type => "button"}
      = link_to "All Masterplates", :action => "index"

-if @masterplates.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th label
        %th Created at
        %th Screen
        %th Owner
        %th Actions
    %tbody
      - @masterplates.each do |masterplate|
        %tr
          %td= link_to masterplate.label, masterplate_path(masterplate)
          %td= masterplate.created_at.strftime("%Y-%m-%d")
          %td= link_to masterplate.screen.name, masterplate.screen
          %td= masterplate.user.fullname
          -if current_user && masterplate.user_id == current_user.id || current_user.admin?
            %td= link_to 'Delete', masterplate_path(masterplate), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
            -unless masterplate.workingplates.size > 0
              %td= link_to 'generate Workingplates', new_workingplate_path(:mp_id => masterplate.id), :class => 'btn btn-xs btn-success'
            -else
              %td= link_to 'generate more Workingplates', new_workingplate_path(:mp_id => masterplate.id), :class => 'btn btn-xs btn-success'

          -else
            %td
              <span class="red">not your plate</span>
  = will_paginate(@masterplates, renderer: BootstrapPagination::Rails)

-else
  %p
    %br
  %div.no_record
    -if current_user.screens.length > 0
      %p
        There are no masterplates on record, please
        =link_to 'create some', new_masterplate_path
        !
    -else
      %p
        There are no masterplates on record and you haven't created a screen yet.
        =link_to 'Please create  a screen', new_screen_path
        first and then some masterplates!
