%p#notice= notice

%h2= "Masterplate #{@masterplate.label}"

%dl.dl-horizontal
  %dt Uuid:
  %dd= @masterplate.uuid
  %dt Label:
  %dd= @masterplate.label
  %dt Screen:
  %dd= link_to @masterplate.screen.name, @masterplate.screen
  %dt Description:
  %dd= @masterplate.description
  %dt User:
  %dd= @masterplate.user.fullname

%p
  = link_to 'Back', masterplates_path, class: 'btn btn-sm btn-default'
  = link_to 'Edit', edit_masterplate_path(@masterplate), class: 'btn btn-sm btn-success'
  = link_to 'Delete', masterplate_path(@masterplate), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger'


%p
  .masterplate.drop-shadow.raised
    - counter = 0
    - while counter < 96
      - w = @masterplate.masterwells[counter]
      - if w.present?
        %div{:class => "masterwell #{'full' unless w.metadata_records.blank?}", data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{w.name}",content: "#{master_popover(w)}"}}
          = w.name
      -else
        %div{:class => "masterwell"}
      - counter += 1

