-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1
  High-Throughput Screen Management
.clear

%h2
  Screens

%ul
  %li
    Create Screens that you would like to manage.
  %li
    Once you have created a screen, you can add masterplates to your screen.

  %h2
  Masterplates

%ul
  %li
    Create masterplates based on your annotation files (Excel format).
  %li
    Masterplates will be associated with a screen.
  %li
    Each well on a masterplate has its unique identifier and the annotation information from the original annotation file.

  %h2
  Workingplates

%ul
  %li
    Working plates are automatically generated and will be associated with the masterplate they derived from.
  %li
    Each well on a workingplate has a unique identifier.

  %li
    There are four different types of wells on a working plate:
    %ul
      %li
        PBS: Not editable
      %li
        Control: editable to specify the control to be used in the well. Additional fields let you further specify the control.
        Controls wells are initialized based on your screen's settings.
      %li
        Substance well: from masterplate, has a unique identifier as well as the complete annotation information from the annotation file.
      %li
        Empty: In case the number of annotations in a file results in a plate with less than 60 wells, wells will be marked as empty.

%h3
  Authentication System

%p
  The application requires you to have an approved user account. You can sign up but your account has to be approved by an administrator user.
  You can see all information stored in the system but can only edit or delete your own records.
