// Place all the styles related to the masterplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.masterplate, div.workingplate {
  padding: 10px;
  width: 575px;
  min-height:300px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.masterplate, div#background.inner .workingplate {
  border:1px solid #888
}

div.masterwell {
  width: 46px;
  height:46px;
  position:relative;
  float:left;
  border:1px solid #CCCCCC;
  padding: 2px;
  background: #2196f3;
}

div.masterwell.full {
  background: #F44336;
  color: #000;
}

div.masterwell.full:hover {
  background: #E53935;
  border: 1px solid #111;
}

div.masterwellfull a {color: #222;}
div.small {font-size: 0.8em;}
div.smaller {font-size: 0.6em;}
div#status_messages p {
  font-size: 1.5em;
  color: #444;
  padding: 10px 8px 8px 8px;;
}

div.masterwellfull a:hover {color: #eee; padding: 1px;}

div.filter {
  margin-top: 10px;
}
