!!!
%html
  %head
    %title Screening
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    .container
      .row
        .col-lg-9
          #status_messages
            - if notice.present?
              %div.alert.alert-success
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = notice
            - elsif alert.present?
              %div.alert.alert-error
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = alert
          = yield
        .col-lg-3
          #body
            %h3
              = yield :sidebar_title

            %div.sidebarbody
              = yield :sidebar
